* {
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-direction: column;
  font-size: 20px;

  text-align: center;
}

.flex-item {
  background-color: white !important;
  padding: 3%;
  flex: 25%;
  margin: 1%;
  box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.2);
  border: 1px solid grey;
  border-radius: 10px;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 600px) {
  .flex-container {
    flex-direction: column;
  }
}
